.popup-contacts{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 16, 17, 0.6);
  z-index: 10001;
  &-closer {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    @media(min-width: 1450px){
      right: 35px;
    }
    @media(max-width: 767px){
      right: 12px;
      top: 12px;
    }
  }
  & .vacancy {
    height: 100%;
    width: 100%;
    background: transparent;
  }
  & .home{
    &-feedback{
      position: relative;
      margin-top: 88px;
      @media(max-width: 1023px){
        margin-top: 55px;
      }
      &-flex{
        background-color: #1B1B1C;
        &-left{
          &-form {
            margin-top: 0px;
          }
          &-title {
            padding-bottom: 12px;
            @media(max-width: 1023px){
              padding-bottom: 1px;
            }
          }
        }
        &-right {
          &-img {
            max-width: 600px;
            max-height: 561px;
          }
        }
      }
    }
  }
}
.js-popup-contacts-watch{
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 16, 17, 0.6);
  z-index: 10000;
  overflow-y: scroll;
  &-close {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    z-index: 100000;
    @media(min-width: 1450px){
      right: 35px;
    }
    @media(max-width: 767px){
      right: 12px;
      top: 12px;
    }
  }
  &-inner {
    height: 100%;
    min-width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    overflow: hidden;
  }
  &-review {
    width: 760px;
    max-height: 100%;
    overflow-y: scroll;
    background: #1B1B1C;
    border: 1px solid #4C4C4E;
    border-radius: 4px;
    padding: 40px 45px;
    color: #fff;
    overflow: scroll;
    @media(max-width: 768px){
      width: 100%;
      padding: 24px 24px 27px;
    }
    @media(max-width: 414px){
      padding: 24px 24px 24px;
    }
  }
  & h5 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    @media(max-width: 414px){
      margin: 0 0 16px;
    }
  }
  & h4 {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
  }
  & h6 {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;
    color: #949FA3;
    @media(max-width: 414px){
      margin: 0 0 16px;
    }
  }
  & p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
    color: #fff;
    margin-bottom: 24px;
  }
  & a {
    display: inline-block;
    margin-top: 8px;
    background: #D7592A;
    border-radius: 4px;
    padding: 12.5px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    & span {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}