.preloader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  &-black {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }
  &-text {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 345px);
    width: 690px;
    height: 140px;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
  }
}