.progress {
  display: block;
  width: 120px;
  height: 2px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #262626;
  background-image: linear-gradient(to right, #D7592A, #D7592A);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease-in-out;
  margin-right: 12px;
  &-first {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    margin-right: 12px;
  }
  &-last {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
  }
}
