vacancy{
  &.vacancy {
    background: #1B1B1C;
    & .home {
      background: #1B1B1C;
    }
  }
  & .home-nav {
    @media(max-width: 767px) {
      margin-top: -1px;
    }
  }
}

.vacancy {
  position: relative;
  display: block;
  overflow: hidden;
  &-header {
    display: block;
    max-width: 1440px;
    padding: 0 75px;
    margin: 40px auto 0;
    @media(max-width: 1023px){
      padding: 0 16px;
      margin: 20px auto 0;
    }
    
    &-title {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      color: #FFFFFF;

      @media(max-width: 1023px){
        font-size: 28px;
        line-height: 120%;
      }
    }
    &-subtitle {
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      color: #FFFFFF;
      margin-top: 60px;

      @media(max-width: 1023px){
        font-size: 24px;
        line-height: 120%;
        margin-top: 40px;
      }
    }
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    padding: 0 45px 0 75px;
    margin: 18px auto 0;
    @media(max-width: 1023px) {
      padding: 0 16px;
      margin: 8px auto 0;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 31px;
      background-color: #212122;
      border: 1px solid #4C4C4E;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;
      max-width: 630px;
      margin: 30px 30px 0 0;
      @media(max-width: 1023px) {
        margin: 16px 0 0 0;
        max-width: 100%;
        padding: 24px;
        width: 100%;
      }
      @media(max-width: 767px) {
        min-height: 200px;
      }
      
      &-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
        width: 100%;
        max-width: 400px;
        min-height: 134px;  
        @media(max-width: 1023px) {
          max-width: 100%;
          font-size: 20px;
          line-height: 140%;
          min-height: 63px;  
        }
      }

      &-btn {
        font-weight: 400;
        font-size: 18px;
        line-height: 145%;
        color: #D7592A;
        text-decoration: none;
        @media(max-width: 1023px) {
          font-size: 18px;
          line-height: 145%;
        }
      }
    }
  }
  &-advantages {
    display: block;
    position: relative;
    max-width: 1440px;
    padding: 0 20px 0 75px;
    margin: 48px auto 0;
    margin-top: 120px;
    @media(max-width: 1023px){
      padding: 0 16px 0 16px;
      margin-top: 63px;
    }

    &-title {
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      color: #FFFFFF;
      max-width: 480px;
      @media(max-width: 1023px){
        font-size: 24px;
        line-height: 120%;
        max-width: 100%;
      }
    }

    &-box {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 18px;
      @media (max-width: 1023px){
        margin-top: 7px;
      }
      &-left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 410px;
        padding: 32px;
        position: relative;
        background-size: cover;
        background: #212122;
        border: 1px solid #4C4C4E;
        margin: 30px 30px 0 0;
        width: 100%;
        border-radius: 4px;
        &-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: 1s;
          opacity: .1;
          background-image: url('../images/vacancy/vacancy-flex-v2.jpg');
          left: 0;
          top: 0;
          z-index: 2;
        }
        &:hover {
          & .vacancy-advantages-box-left-hover{
            opacity: 1;
          }
        }
        @media(max-width: 1430px){
          display: none;
        }
        &-bot {
          display: block;
          z-index: 3;

          &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            color: #FFFFFF;
          }
          &-text {
            margin-top: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 145%;
            color: #FFFFFF;
            opacity: 0.8;
          }
        }
      }

      &-right {
        @media(min-width: 1430px){
          display: flex;
          flex-wrap: wrap;
        }
        &:before {
          content: '';
          position: absolute;
          width: 2000px;
          height: 600px;
          left: -2000px;
          background: #1B1B1C;
          z-index: 200;
        }
        @media(max-width: 1430px){
          max-width: 410px;
          width: 100%;
        }
        @media(max-width: 1023px){
          max-width: 326px;
          width: 100%;
        }
        & .slick-list {
          overflow: visible !important;
        }
        & .slick-slide {
          margin-right: 18px;
        }
        &-item {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 410px;
          max-width: 410px;
          margin: 30px 30px 0 0;
          background: #212122;
          border: 1px solid #4C4C4E;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 30px;

          &-last {
            height: 244px;
            max-width: 850px;
            width: 100%;
            @media(max-width: 1430px){
              height: 410px;
              max-width: 410px;
            }
            @media(max-width: 550px){
              height: 350px;
              max-width: 310px;
            }
            & .vacancy-advantages-box-right-item-bot{
              max-width: 500px;
            }
          }
          @media(max-width: 1023px){
            height: auto;
            min-height: 350px;
            max-width: 310px;
            width: 100%;
            margin: 16px 16px 0 0;
            padding: 24px;
          }
          @media(max-width: 550px){
            height: 350px;
            max-width: 310px;
          }
          &-bot {
            display: block;

            &-title {
              font-weight: 400;
              font-size: 24px;
              line-height: 140%;
              color: #FFFFFF;
              @media(max-width: 1023px){
                font-size: 20px;
                line-height: 140%;
              }
            }
            &-text {
              margin-top: 16px;
              font-weight: 400;
              font-size: 18px;
              line-height: 145%;
              color: #FFFFFF;
              opacity: 0.8;
              @media(max-width: 1023px){
                font-size: 16px;
                line-height: 145%;
                max-height: 210px;
                overflow: hidden; 
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  & .home {
    &-feedback{
      display: block;
      max-width: 1440px;
      padding: 0 75px;
      margin: 118px auto 120px;

      @media(max-width: 1023px){
        padding: 0 16px;
        margin: 60px auto 60px;
      }
      &-flex {
        @media(max-width: 1023px){
          padding: 24px;
        }
        &-left {
          margin-right: 30px;
          @media(max-width: 1023px){
            margin-right: 0px;
          }
          &-desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 145%;
            color: #FFFFFF;
            opacity: 0.92;
            @media(max-width: 1023px){
              font-size: 14px;
              line-height: 145%;
            }
          }
          &-title {
            font-weight: 400;
            font-size: 36px;
            line-height: 120%;
            color: #FFFFFF;
            opacity: 0.92;
            @media(max-width: 1023px){
              font-size: 24px;
              line-height: 120%;
              margin-top: 16px;
            }
          }
          &-form {
            margin-top: 12px;
            @media(max-width: 1023px){
              margin-top: 0px;
            }
            &-name{
              @media(max-width: 1023px){
                margin-top: 39px;
              }
            }
            &-docs {
              position: relative;
              width: 0;
              height: 0;
              opacity: 0;
              z-index: 0;
            }
            &-lable {
              position: relative;
              height: 38px;
              border: none;
              border-bottom: 1px solid #4C4C4E;
              background: transparent;
              margin-top: 48px;
              outline: none;
              color: #6E6E71;
              cursor: pointer;
              @media(max-width: 1023px){
                margin-top: 40px;
              }
              &-img {
                position: absolute;
                right: 0px;
                top: calc(50% - 18px);
                width: 16px;
                height: 18px;
              }
            }
            &-tel {
              @media(max-width: 1023px){
                margin-top: 40px;
              }
            }
            &-mail {
              @media(max-width: 1023px){
                margin-top: 40px;
              }
            }
            &-rules {
              @media(max-width: 1023px){
                margin-top: 40px;
              }
            }
            &-btn {
              @media(max-width: 1023px){
                margin-top: 24px;
                max-width: 230px;
                margin-left: 0px;
                max-width: 280px;
              }
            }
          }
        }
        &-right{
          @media(max-width: 1365px){
            display: none;
          }
          &-img {
            vertical-align: middle;
            border-radius: 4px;
          }
        }
      }
    }
  }

  &-closer {
    position: relative;
    display: block;
    width: 100%;
    margin: 48px auto 0;
    max-width: 1290px;
    padding: 0 0px;
    background: linear-gradient(270deg, rgba(33, 33, 34, 0) 0%, rgba(33, 33, 34, 0.78) 46.18%, #212122 90.15%);
    background-image: url('../images/vacancy/vacancy-closer.png');
    background-size: cover;
    background-position: right top;
    border-radius: 4px;
    border: 1px solid #4C4C4E;
    &:hover {
      border: 1px solid #4C4C4E;
    }
    @media(max-width: 1023px){
      background-image: url('../images/vacancy/vacancy-closer-tab.png');
      background-size: cover;
      background-position: left top;
      margin-left: 16px;
      margin-top: 23px;
      width: calc(100% - 32px);
    }
    &-wrapper {
      padding: 31px;
      max-width: 550px;
      
      @media(max-width: 1023px){
        padding: 24px 17px 24px 24px;
        max-width: 100%;
      }
    }
    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #FFFFFF;
      @media(max-width: 1023px){
        padding-top: 124px;
        font-size: 20px;
        line-height: 140%;
      }
    }
    &-text {
      display: block;
      margin-top: 12px;
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
      color: #FFFFFF;
      opacity: 0.8;
      @media(max-width: 1023px){
        font-size: 18px;
        line-height: 145%;
        margin-top: 15px;
      }
    }
    &-btn {
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: 145%;
      color: #fff;
      margin-top: 36px;
      &:hover {
        color: #D7592A;
      }
      @media(max-width: 1023px){
        margin-top: 31px;
      }
    }
  }
  
}
.ancor-feedback{
  position: absolute;
  top: -90px;
}
