footer
	.footer
		.footer-top
			.footer-wrapper
				.footer-top-left
					a(href="index.html")
						img(src="images/header/main-logo.svg" alt="").footer-top-left-item-img

				.footer-top-right
					.footer-top-right-item
						a(href="tel:88003555555") 8 800 355-55-55
					.footer-top-right-item
						a(href="mailto:contact@markgeoprojekt.ru") contact@markgeoprojekt.ru
					.footer-top-right-item.footer-top-right-item-btn
						.js-popup-contacts-watch Связаться&nbsp;&nbsp;&rarr;
		.footer-bot
			.footer-bot-left
				.footer-bot-left-item.footer-bot-left-item-title &copy;&nbsp;2022&nbsp;ООО &laquo;Маркгеопроект&raquo;
				.footer-bot-left-item Персональные данные
				.footer-bot-left-item Официальное уведомление
				.footer-bot-left-item Карта сайта
			.footer-bot-right
				.footer-bot-right-item 
					.footer-bot-right-item-text Сделано в&nbsp;
					.footer-bot-right-item-btn neiro
	.footer-mob-social
		a(href="index.html")
			img(src="images/header/main-logo.svg" alt="").footer-top-left-item-img
	.footer-mob.footer-mob-top
		.footer-top-right-item
			a(href="tel:88003555555") 8 800 355-55-55
		.footer-top-right-item
			a(href="mailto:contact@markgeoprojekt.ru") contact@markgeoprojekt.ru
		.js-popup-contacts-watch Связаться&nbsp;&nbsp;&rarr;
	.footer-mob
		.footer-mob-item.footer-mob-item-title &copy;&nbsp;2022&nbsp;ООО &laquo;Маркгеопроект&raquo;
		.footer-mob-item Персональные данные
		.footer-mob-item Официальное уведомление
		.footer-mob-item Карта сайта
		.footer-mob-item.footer-bot-right-item 
					.footer-bot-right-item-text Сделано в&nbsp;
					.footer-bot-right-item-btn neiro
