script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8EsULGTOTR_oijQHZ_BDOLtsQl2PxM0k")
header.header
	.header-wrapper
		.header-wrapper-nav
			.header-wrapper-logo
				a(href="index.html").header-wrapper-logo-href
					img(src="images/header/main-logo.svg").header-wrapper-logo-img
			a(href="services.html").header-wrapper-nav-item.header-wrapper-nav-item-bar Услуги
			a(href="company.html").header-wrapper-nav-item.header-wrapper-nav-item-bar Компания
			a(href="otzyv.html").header-wrapper-nav-item Клиенты
			a(href="project.html").header-wrapper-nav-item Наши проекты
			a(href="news.html").header-wrapper-nav-item Новости
			a(href="contacts.html").header-wrapper-nav-item Контакты
		.header-wrapper-contacts
			.header-wrapper-contacts-block 
				a(href="tel:88003555555").header-wrapper-contacts-tel 8 800 355-55-55
				.header-wrapper-contacts-grafic Работаем с 10:00-20:00
			.header-wrapper-contacts-btn.js-popup-contacts-watch Связаться
	.header-mob
		.header-mob-left
			a(href="index.html")
				img(src="images/header/main-logo.svg").header-mob-left-img
		.header-mob-right
			a(href="tel:88003555555")
				img(src="images/header/tel.svg").header-mob-right-tel 
			.header-mob-right-menu
				img(src="images/header/menu.svg").header-mob-right-menu-img
				.header-mob-right-menu-box
					.header-mob-right-menu-box-wrapper
						.header-mob-right-menu-box-wrapper-right
							a(href="services.html").header-mob-right-menu-box-wrapper-right-item Услуги
								span
									img(src="images/header/arrow-bot.svg")
								.header-mob-right-menu-box-wrapper-right-item-sub
									.header-mob-right-menu-box-wrapper-right-item-sub-point
							a(href="company.html").header-mob-right-menu-box-wrapper-right-item Компания
								span
									img(src="images/header/arrow-bot.svg")
								.header-mob-right-menu-box-wrapper-right-item-sub
									a(href="geological.html").header-mob-right-menu-box-wrapper-right-item-sub-point Геологоразведочные работы
							a(href="#").header-mob-right-menu-box-wrapper-right-item Клиенты
							a(href="#").header-mob-right-menu-box-wrapper-right-item Наши проекты
							a(href="#").header-mob-right-menu-box-wrapper-right-item Новости
							a(href="#").header-mob-right-menu-box-wrapper-right-item Контакты

