-
	const data = {
		header: {
			links: {
				logo: '',
			},
			menu: [
				{
					url: '',
					name: ''
				},
				{
					url: '',
					name: ''
				},
				{
					url: '',
					name: ''
				}
			]
		},

		share: {
			caption: '',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: '',
			read: '',
		},

		modal: {
			close: '',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
