company.home 
  .home-nav.home-wrapper
    a(href="/index.html").home-nav-prev Главная
    img(src="images/services/header-arrow.svg").home-nav-arrow 
    a(href="/geological.html").home-nav-actual Компания

  .company-header
    .company-header-title О компании
    .company-header-flex.t-l.company-header-flex-first
      .company-header-flex-text
        .company-header-flex-text-desc На рынке с 2011 года
        .company-header-flex-text-text Мы&nbsp;точно знаем, как правильно и&nbsp;в&nbsp;установленные сроки решить все поставленные перед нами задачи. Более чем за&nbsp;10&nbsp;лет мы&nbsp;накопили колосальный опыт в&nbsp;области проектирования и&nbsp;геолого-маркшейдерского обеспечения месторождений любых масштабов и&nbsp;сложности.
      .company-header-flex-img
        img(src="images/company/header-item-1.jpg").company-header-flex-img-img.js-img-show

    .company-header-flex.t-r
      .company-header-flex-img
        img(src="images/company/header-item-2.jpg").company-header-flex-img-img.js-img-show-right
      .company-header-flex-text
        .company-header-flex-text-desc Ценим наших клиентов
        .company-header-flex-text-text Мы&nbsp;развивались вместе с&nbsp;нашими клиентами, долгосрочный успех каждого из&nbsp;них, это и&nbsp;наш личный успех. Вместе мы&nbsp;завершили работу более чам над 70&nbsp;проектами, успели посотрудничать более чем с&nbsp;50&nbsp;компаниями со&nbsp;всей России. Мы&nbsp;отлично знакомы с&nbsp;особенностями разработки на&nbsp;всем Дальнем Востоке и&nbsp;за&nbsp;его пределами.

    .company-header-flex.t-l
      .company-header-flex-text
        .company-header-flex-text-desc Надежность
        .company-header-flex-text-text Доверие и&nbsp;надежность для нас не&nbsp;просто слова, это знает каждый наш партнер. В&nbsp;результате&nbsp;&mdash; на&nbsp;длительном обслужавании у&nbsp;нас единовременно находится более 30&nbsp;компаний. Мы&nbsp;сформировали культуру высокой ответственности перед заказчиком. Надежность и&nbsp;качество нашей работы доказаны многочисленными отзывами и&nbsp;рекомендациям
      .company-header-flex-img
        img(src="images/company/header-item-3.jpg").company-header-flex-img-img.js-img-show

    .company-header-flex.company-header-flex-last
      .company-header-flex-img
        img(src="images/company/header-item-4.jpg").company-header-flex-img-img.js-img-show-right
      .company-header-flex-text
        .company-header-flex-text-desc Не даём невыполнимых обещаний
        .company-header-flex-text-text Каждый наш клиент может быть уверен, что независимо от&nbsp;изменчивости современного мира все заранее оговоренные условия будут выполнены в&nbsp;полном объеме.
  
  .company-numbs
    .company-numbs-flex
      .company-numbs-flex-text
        .company-numbs-flex-text-title Маркгеопроект в цифрах
        .company-numbs-flex-text-flex 
          .company-numbs-flex-text-flex-item
            .company-numbs-flex-text-flex-item-numb 40
            .company-numbs-flex-text-flex-item-desc согласованных проектов горного отвода
          .company-numbs-flex-text-flex-item
            .company-numbs-flex-text-flex-item-numb &gt;30
            .company-numbs-flex-text-flex-item-desc согласованных планов развития ежегодно
          .company-numbs-flex-text-flex-item
            .company-numbs-flex-text-flex-item-numb 34
            .company-numbs-flex-text-flex-item-desc организации в постоянном обслуживании
          .company-numbs-flex-text-flex-item
            .company-numbs-flex-text-flex-item-numb &gt;70
            .company-numbs-flex-text-flex-item-desc проектов ежегодно
      img(src="images/company/numbs.png").company-numbs-flex-img

  .company-license
    .company-license-header
      .company-license-tilte Лицензии и другая документация
      .company-license-nav 
        .company-license-nav-item#id-license-1 Лицензии
        .company-license-nav-item#id-license-2.is-active Сертификаты
        .company-license-nav-item#id-license-3 Свидетельства

    .company-license-box.company-license-nav-license
      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text На&nbsp;изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны

      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text На&nbsp;конструктирование оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ

      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text На&nbsp;проведение работ, связанных с&nbsp;использованием сведений, составляющих государственную тайну

      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text На изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Лицензии
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны

    .company-license-box.company-license-nav-sertificate.is-active
      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text На&nbsp;изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны

      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text На&nbsp;конструктирование оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ

      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text На&nbsp;проведение работ, связанных с&nbsp;использованием сведений, составляющих государственную тайну

      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text На изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Сертификат
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны
        
    .company-license-box.company-license-nav-evidence
      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text На&nbsp;изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны

      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text На&nbsp;конструктирование оборудования для ядерных установок, пунктов хранения ядерных материалов и&nbsp;радиоактивных веществ

      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text На&nbsp;проведение работ, связанных с&nbsp;использованием сведений, составляющих государственную тайну

      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text На изготовление оборудования для ядерных установок, пунктов хранения ядерных материалов и радиоактивных веществ, хранилищ радиоактивных отходов

      .company-license-box-item
        .company-license-box-item-tilte Свидетельства
        .company-license-box-item-text Мероприятия и&nbsp;оказания услуг по&nbsp;защите государственной тайны

  .home-feedback.home-wrapper
    .home-feedback-flex 
      .home-feedback-flex-left
        .home-feedback-flex-left-desc Свяжитесь с нами
        .home-feedback-flex-left-title Мы перезвоним вам в течение одного дня
        form.home-feedback-flex-left-form
          input(placeholder="Имя*" name="name").home-feedback-flex-left-form-name
          input(placeholder="Телефон*" name="tel").home-feedback-flex-left-form-tel
          input(placeholder="E-mail*" name="email").home-feedback-flex-left-form-mail
          .home-feedback-flex-left-form-rules
            input(type="checkbox" value="0").home-feedback-flex-left-form-rules-checkbox#form-checkbox
            .home-feedback-flex-left-form-rules-text Согласен на обработку 
              a(href="#") персональных данных
          #login-form-submit.home-feedback-flex-left-form-btn Отправить заявку&nbsp;&nbsp;&rarr;
          input(type="submit" value="post" formmethod="post").home-feedback-flex-left-form-btn-post#login-form-submit-post
      .home-feedback-flex-right
        img(src="images/services/services-from.png").js-img-show

  .company-team-bg
    .company-team 
      .company-team-flex
        .company-team-flex-text
          .company-team-flex-text-title Наша команда
          .company-team-flex-text-text 
            | Наша разнообразная команда состоит из&nbsp;лучших и&nbsp;самых ярких представителей мира геологии, технологий и&nbsp;бизнеса.
            br
            br
            | Мы&nbsp;стремимся разрабатывать, создавать и&nbsp;эксплуатировать технологии, которые упрощают наше взаимодействие с&nbsp;энергией. Маркгеопроект&nbsp;&mdash; это&nbsp;то, что равзивает нас в&nbsp;это сложное время.
          .company-team-flex-text-btn
            .company-team-flex-text-btn-orange Команда&nbsp;&nbsp;&rarr;
            .company-team-flex-text-btn-black К вакансиям
        img(src="images/company/team.jpg").company-team-flex-img.js-img-show
