contacts.contacts
  .home
    .home-nav.home-wrapper
      .home-nav-prev.home-nav-prev-mob ...
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow.home-nav-arrow-mob  
      a(href="/otzyv.html").home-nav-actual Контакты
  .vacancy
    .vacancy-article-header-wrapper
      .vacancy-article-header
        .vacancy-article-header-left
          .vacancy-article-header-left-title Контакты
        .vacancy-article-header-right
          .vacancy-article-header-right-text Мы&nbsp;открыты к&nbsp;диалогу и&nbsp;работаем над любыми интересными для нас проектами
          .vacancy-article-header-right-contact ул. Суворова, д. 80 офис 27
          a(href="mailto:contact@markgeoprojekt.ru").vacancy-article-header-right-contact-item.btn-transparent-hover  contact@markgeoprojekt.ru
          a(href="tel:88003555555").vacancy-article-header-right-contact-item.btn-transparent-hover 8 800 355-55-55

  .contacts-map#map.js-map

  .vacancy
    .home-feedback
      .home-feedback-flex 
        .home-feedback-flex-left
          .home-feedback-flex-left-desc Свяжитесь с&nbsp;нами
          .home-feedback-flex-left-title Мы&nbsp;перезвоним вам в&nbsp;течение одного дня
          form.home-feedback-flex-left-form
            input(placeholder="Имя*" name="name").home-feedback-flex-left-form-name
            input(placeholder="Телефон*" name="tel").home-feedback-flex-left-form-tel
            input(placeholder="E-mail*" name="email").home-feedback-flex-left-form-mail
            .home-feedback-flex-left-form-rules
              input(type="checkbox" value="0").home-feedback-flex-left-form-rules-checkbox#form-checkbox
              .home-feedback-flex-left-form-rules-text Согласен на обработку 
                a(href="#") персональных данных
            #login-form-submit.home-feedback-flex-left-form-btn.btn-orange-hover Отправить заявку&nbsp;&nbsp;&rarr;
            input(type="submit" value="post" formmethod="post").home-feedback-flex-left-form-btn-post#login-form-submit-post
        .home-feedback-flex-right
          .home-feedback-flex-right-img.js-img-show
            .img-pattern
            img(src="images/services/services-from.png").img-img
