main.home
  .home-header
    .home-slider.slider
      .home-slider-slide
        .home-slider-item
          .home-slider-item-contant 
            .home-slider-item-contant-desc Надежность залог успеха компании
            .home-slider-item-contant-title Маркшейдерские работы от самой надежной компании в России
            .home-slider-item-contant-text Мы гарантируем качество и выполнение маркшейдерских работ в четко установленные сроки
            .home-slider-item-contant-btn
              a(href="contacts.html").home-slider-item-contant-btn-orange.btn-orange-hover  Обсудить проект&nbsp;&nbsp;&rarr;
              a(href="services.html").home-slider-item-contant-btn-silver.btn-silver-hover Наши услуги
          .home-slider-item-preview.js-img-show
            .img-pattern
            img(src="images/main/slider/header-slide-1.png").img-img
            img(src="images/main/slider/header-tab.jpg").img-img-tab
            img(src="images/main/slider/header-mob.jpg").img-img-mob

      .home-slider-slide
        .home-slider-item
          .home-slider-item-contant 
            .home-slider-item-contant-desc Надежность залог успеха компании
            .home-slider-item-contant-title Маркшейдерские работы от самой надежной компании в России
            .home-slider-item-contant-text Мы гарантируем качество и выполнение маркшейдерских работ в четко установленные сроки
            .home-slider-item-contant-btn
              a(href="contacts.html").home-slider-item-contant-btn-orange.btn-orange-hover  Обсудить проект&nbsp;&nbsp;&rarr;
              a(href="services.html").home-slider-item-contant-btn-silver.btn-silver-hover Наши услуги
          .home-slider-item-preview.js-img-show
            .img-pattern
            img(src="images/main/slider/header-slide-1.png").img-img
            img(src="images/main/slider/header-tab.jpg").img-img-tab
            img(src="images/main/slider/header-mob.jpg").img-img-mob
      
      .home-slider-slide
        .home-slider-item
          .home-slider-item-contant 
            .home-slider-item-contant-desc Надежность залог успеха компании
            .home-slider-item-contant-title Маркшейдерские работы от самой надежной компании в России
            .home-slider-item-contant-text Мы гарантируем качество и выполнение маркшейдерских работ в четко установленные сроки
            .home-slider-item-contant-btn
              a(href="contacts.html").home-slider-item-contant-btn-orange.btn-orange-hover  Обсудить проект&nbsp;&nbsp;&rarr;
              a(href="services.html").home-slider-item-contant-btn-silver.btn-silver-hover Наши услуги
          .home-slider-item-preview.js-img-show
            .img-pattern
            img(src="images/main/slider/header-slide-1.png").img-img
            img(src="images/main/slider/header-tab.jpg").img-img-tab
            img(src="images/main/slider/header-mob.jpg").img-img-mob
    .home-slider-footer
      .home-slider-nav
        .progress-first 01
        .progress
        .progress-last#progress-last
      .home-slider-btn 
        img(src="images/main/slider/slider-btn-right-opacity.png" alt="").home-slider-btn-prev.home-slider-btn-arrow
        img(src="images/main/slider/slider-btn-left-opacity.png" alt="").home-slider-btn-next.home-slider-btn-arrow
        
  .home-service
    .home-service-wrapper
      .home-service-header
        .home-service-header-title Наши услуги
        .home-service-header-desc ООО &laquo;Маркгеопроект&raquo; &minus; компания, специализирующаяся на&nbsp;геолого-маркшейдерском обеспечении, сопровождении при разработке месторождений.
      .home-service-block
        a(href="#").home-service-block-item
          img(src="images/main/service/item-1.svg").home-service-block-item-logo
          .home-service-block-item-text Маркшейдерское обслуживание
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;

        a(href="#").home-service-block-item
          img(src="images/main/service/item-2.svg").home-service-block-item-logo
          .home-service-block-item-text Разведка полезныех ископаемых
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;  

        a(href="#").home-service-block-item
          img(src="images/main/service/item-3.svg").home-service-block-item-logo
          .home-service-block-item-text Составление проектно-технической докуентации для разработки месторождений
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;

        a(href="#").home-service-block-item
          img(src="images/main/service/item-4.svg").home-service-block-item-logo
          .home-service-block-item-text Проведение независимой оценки деятельности недропользователей
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;

        a(href="#").home-service-block-item
          img(src="images/main/service/item-5.svg").home-service-block-item-logo
          .home-service-block-item-text Геологическое сопровождение проектов
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;

        a(href="#").home-service-block-item
          img(src="images/main/service/item-6.svg").home-service-block-item-logo
          .home-service-block-item-text Составление пакета документов для оформление лицензии недропользования
          .home-service-block-item-btn Подробнее&nbsp;&nbsp;&rarr;

  .home-company
    .home-wrapper
        .home-company-slide
          .home-company-item.home-slider-item
            .home-company-item-contant 
              .home-company-item-contant-title Развиваем месторождения 
                br
                span уже более 10&nbsp;лет
                .home-company-item-contant-text Осуществляем проекты на&nbsp;крупнейших месторождениях по&nbsp;всей России и&nbsp;в&nbsp;странах СНГ.
              .home-company-item-contant-btn
                a(href="company.html").home-company-item-contant-btn-orange Узнать о компании&nbsp;&nbsp;&rarr;
            .home-company-item-preview-box.slider
              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год
              
              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

        img(src="images/main/slider/slider-btn-right-opacity.png" alt="").home-slider-btn-prev.home-slider-btn-arrow
        img(src="images/main/slider/slider-btn-left-opacity.png" alt="").home-slider-btn-next.home-slider-btn-arrow

  .home-spot.js-numb-show
    .home-wrapper.home-spot-wrapper
      .home-spot-block
        .home-spot-block-box
          img(src="images/main/spot/spot-1.svg" alt="").home-spot-block-img
          .home-spot-block-title.js-numb-show-item  #[span(data-num="34") 0] организации
          .home-spot-block-text в постоянном обслуживании
        
      .home-spot-block
        .home-spot-block-box
          img(src="images/main/spot/spot-2.svg" alt="").home-spot-block-img
          .home-spot-block-title.js-numb-show-item  Более #[span(data-num="30") 0] в год
          .home-spot-block-text согласованных планов развития

      .home-spot-block
        .home-spot-block-box
          img(src="images/main/spot/spot-3.svg" alt="").home-spot-block-img
          .home-spot-block-title.js-numb-show-item  #[span(data-num="40") 0]
          .home-spot-block-text согласованных проектов горного отвода

      .home-spot-block
        .home-spot-block-box
          img(src="images/main/spot/spot-4.svg" alt="").home-spot-block-img
          .home-spot-block-title.js-numb-show-item  &gt; #[span(data-num="70") 0]&nbsp;проектов
          .home-spot-block-text ежегодно

  .home-geography
    .home-wrapper
      .home-geography-box 
        .home-geography-box-title География объектов
        .home-geography-box-map
          img(src="images/main/geography/map-rus.svg" alt="").home-geography-box-map-img
          .home-geography-box-map-group.home-geography-box-map-group-1.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

          .home-geography-box-map-group.home-geography-box-map-group-2.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

          .home-geography-box-map-group.home-geography-box-map-group-3.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

          .home-geography-box-map-group.home-geography-box-map-group-4.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)
          
          .home-geography-box-map-group.home-geography-box-map-group-5.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

          .home-geography-box-map-group.home-geography-box-map-group-6.js-map-active
            .home-geography-box-map-point.home-geography-box-map-group-point
            .home-geography-box-map-point-info.home-geography-box-map-group-info
              .home-geography-box-map-point-info-wrapper
                .home-geography-box-map-point-info-sity Кривой Рог
                .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
                .home-geography-box-map-point-info-sum 5 500 000
                .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

    .home-geography-slider
      .home-geography-slider-item
        .home-geography-box-map-point-info-sity Кривой Рог
        .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
        .home-geography-box-map-point-info-sum 5 500 000
        .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

      .home-geography-slider-item
        .home-geography-box-map-point-info-sity Кривой Рог
        .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
        .home-geography-box-map-point-info-sum 5 500 000
        .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

      .home-geography-slider-item
        .home-geography-box-map-point-info-sity Кривой Рог
        .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
        .home-geography-box-map-point-info-sum 5 500 000
        .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

      .home-geography-slider-item
        .home-geography-box-map-point-info-sity Кривой Рог
        .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
        .home-geography-box-map-point-info-sum 5 500 000
        .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)
        
      .home-geography-slider-item
        .home-geography-box-map-point-info-sity Кривой Рог
        .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
        .home-geography-box-map-point-info-sum 5 500 000
        .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

  .home-otzyv
    .home-wrapper
      .home-otzyv-header
        .home-otzyv-header-title Отзывы о нашей работе
        .home-otzyv-header-right 
          .home-otzyv-header-right-text Мы доказываем компетентность в реальных проектах от крупных игроков рынка нефте- и газодобычи
          .home-otzyv-header-right-all.btn-more-plus-hover Все отзывы
      .home-otzyv-content
        .slider
          .home-otzyv-content-item.js-popupOpen(data-popup="1")
            .home-otzyv-content-item-title ООО "Абрис"
            .home-otzyv-content-item-desc
              .home-otzyv-content-item-desc-sity г. Хабаровск
              .home-otzyv-content-item-desc-line -
              .home-otzyv-content-item-desc-time 24.02.2014
            .home-otzyv-content-item-stars.js-otzyv-stars
            .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
            a(href="#").home-otzyv-content-item-text-more Читать полностью

          .home-otzyv-content-item.js-popupOpen(data-popup="2")
              .home-otzyv-content-item-title ООО "Абрис"
              .home-otzyv-content-item-desc
                .home-otzyv-content-item-desc-sity г. Хабаровск
                .home-otzyv-content-item-desc-line -
                .home-otzyv-content-item-desc-time 24.02.2014
              .home-otzyv-content-item-stars.js-otzyv-stars
              .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
              a(href="#").home-otzyv-content-item-text-more Читать полностью

          .home-otzyv-content-item.js-popupOpen(data-popup="3")
              .home-otzyv-content-item-title ООО "Абрис"
              .home-otzyv-content-item-desc
                .home-otzyv-content-item-desc-sity г. Хабаровск
                .home-otzyv-content-item-desc-line -
                .home-otzyv-content-item-desc-time 24.02.2014
              .home-otzyv-content-item-stars.js-otzyv-stars
              .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
              a(href="#").home-otzyv-content-item-text-more Читать полностью

          .home-otzyv-content-item
              .home-otzyv-content-item-title ООО "Абрис"
              .home-otzyv-content-item-desc
                .home-otzyv-content-item-desc-sity г. Хабаровск
                .home-otzyv-content-item-desc-line -
                .home-otzyv-content-item-desc-time 24.02.2014
              .home-otzyv-content-item-stars.js-otzyv-stars
              .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
              a(href="#").home-otzyv-content-item-text-more Читать полностью

          .home-otzyv-content-item
              .home-otzyv-content-item-title ООО "Абрис"
              .home-otzyv-content-item-desc
                .home-otzyv-content-item-desc-sity г. Хабаровск
                .home-otzyv-content-item-desc-line -
                .home-otzyv-content-item-desc-time 24.02.2014
              .home-otzyv-content-item-stars.js-otzyv-stars
              .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
              a(href="#").home-otzyv-content-item-text-more Читать полностью

      .otzyv-more-btn.btn-silver-hover
        .otzyv-more-btn-item Все отзывы
        .otzyv-more-btn-item +

  .home-contacts
    .home-wrapper
      .home-contacts-wrapper
        .home-contacts-wrapper-flex
          .home-contacts-wrapper-flex-left
            .home-contacts-wrapper-flex-left-desc Свяжитесь с нами
            .home-contacts-wrapper-flex-left-title 
              .home-contacts-wrapper-flex-left-title-place ул. Суворова, д. 80 офис 27  
              a(href="mailto:contact@markgeoprojekt.ru ") contact@markgeoprojekt.ru 
              a(href="tel:88003555555") 8 800 355-55-55
            a(href="tel:88003555555").home-contacts-wrapper-flex-left-btn.btn-orange-hover  Связаться&nbsp;&nbsp;&rarr;
          .home-contacts-wrapper-flex-right
            .home-contacts-wrapper-flex-right-img.js-img-show
              .img-pattern
              img(src="images/main/contacts/flex-img.jpg" alt="").img-img
              img(src="images/main/contacts/flex-img-tab.png" alt="").img-img-tab
              img(src="images/main/contacts/flex-img-mob.png" alt="").img-img-mob

  .home-otzyv
    .home-wrapper
      .home-otzyv-header
        .home-otzyv-header-title Последние новости
        .home-otzyv-header-right 
          .home-otzyv-header-right-text Мы доказываем компетентность в реальных проектах от крупных игроков рынка нефте- и газодобычи
          .home-otzyv-header-right-all.btn-more-plus-hover Все новости
  .news-news
    .home-news-wrapper
      .home-news-content
        .home-news-content-item.home-news-content-item-1
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title «Роснефть» ограничит добычу нефти на Сахалине в рамках ОПЕК+
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-2
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Золото: как получить лицензию для его добычи?
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-3
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Аудит горнодобывающих предприятий: цели, виды, особенности
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-4
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-5
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-6
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-7
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-8
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-9
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-10
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-11
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-12
          .home-news-content-item-hover
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="news-article.html").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022
  
  .otzyv-more-btn.btn-silver-hover
    .otzyv-more-btn-item Загрузить ещё
    .otzyv-more-btn-item +
            




  
        


