news.news
  .home
    .home-nav.home-wrapper
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/news.html").home-nav-actual Новости
  .vacancy
    .vacancy-article-header-wrapper
      .vacancy-article-header
        .vacancy-article-header-left
          .vacancy-article-header-left-title Новости

  .news-news
    .home-news-wrapper
      .home-news-content
        .home-news-content-item.home-news-content-item-1
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title «Роснефть» ограничит добычу нефти на Сахалине в рамках ОПЕК+
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-2
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Золото: как получить лицензию для его добычи?
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-3
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Аудит горнодобывающих предприятий: цели, виды, особенности
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-4
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-5
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-6
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-7
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-8
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-9
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022

        .home-news-content-item.home-news-content-item-10
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Приборы для добычи россыпного золота
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-11
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Ученые обнаружили горные породы, возможно, являющиеся образцами мантии Луны
            .home-news-content-item-bot-date 01.01.2022
        
        .home-news-content-item.home-news-content-item-12
          .home-news-content-item-top
          .home-news-content-item-bot
            a(href="#").home-news-content-item-bot-title Оценка месторождения: для чего нужна и как проводится?
            .home-news-content-item-bot-date 01.01.2022
  
  .otzyv-more-btn
    .otzyv-more-btn-item Загрузить ещё
    .otzyv-more-btn-item +