newsarticle.news-article
  .home
    .home-nav.home-wrapper
      .home-nav-prev.home-nav-prev-mob ...
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/news.html").home-nav-prev Новости
      img(src="images/services/header-arrow.svg").home-nav-arrow.home-nav-arrow-mob 
      a(href="/news-article.html").home-nav-actual Название новости
  
  
    .news-article-slider.slider
      .news-article-header-wrapper
        .news-article-slider-item
          .news-article-header
            .news-article-header-date 30 марта 2022 года
            .news-article-header-preview
              .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
              .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.
            .news-article-header-img.js-img-show
              .img-pattern
              img(src="images/main/news/article/article-1.jpg").img-img

          .news-article-header-mob
            .news-article-header-preview
              .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
              .news-article-header-date 30 марта 2022 года
            .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.

          .news-article-content
            .news-article-content-title Экспертиза на премии  
            .news-article-content-text Премия &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo; проводится на&nbsp;территории России и&nbsp;стран СНГ и&nbsp;уже успела зарекомендовать себя, как одно из&nbsp;самых значимых профессиональных событий в&nbsp;горно-металлургическом и&nbsp;добывающем секторе.
            .news-article-content-text Цель премии&nbsp;&mdash; отметить достижения женщин-профессионалов, которые привнесли значительный вклад в&nbsp;развитие добывающей отрасли, являются примером для коллег, ведут активную социальную и&nbsp;благотворительную деятельность.
            .news-article-content-text Члены жюри премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;&nbsp;&mdash; ведущие представители и&nbsp;эксперты отрасли:
            ul.news-article-content-li
              li Белова Анна, заместитель Председателя Совета директоров, Независимый директор, Председатель Комитета по&nbsp;связям с&nbsp;инвесторами и&nbsp;дивидендной политике, АФК &laquo;Система&raquo;;
              li Андроновская Юлия, вице-президент по&nbsp;персоналу и&nbsp;организационному развитию, УК&nbsp;&laquo;Полюс&raquo;;
              li Рустамова Зумруд, заместитель генерального директора, &laquo;Полиметалл&raquo;;
              li Дертинов Роман, заместитель генерального директора по&nbsp;ОТ и&nbsp;ПБ, ГК&nbsp;&laquo;Петропавловск&raquo;;
              li Калиничев Олег, управляющий директор Paul Ekman International в&nbsp;России;
              li Лапкина Светлана, директор по&nbsp;операционным закупкам, ПАО &laquo;НЛМК&raquo;;
              li Тимковская Лидия, основатель компании WOW Humans! Организационный консультант и&nbsp;тренер по&nbsp;Empowerment &amp;&nbsp;Diversity, карьерный эксперт и&nbsp;консультант с&nbsp;международным опытом;
              li Чекалова Светлана, эксперт в&nbsp;области управления персоналом.
            .news-article-content-text Заявки на&nbsp;участие в&nbsp;премии принимаются с&nbsp;9&nbsp;марта до&nbsp;17&nbsp;июня 2022&nbsp;года. Подробная информация доступна на&nbsp;сайте некоммерческой организации Women in&nbsp;Mining Russia&nbsp;&mdash; www.womeninmining.ru  #[a(href="https://womeninmining.ru/nagrada") (https://womeninmining.ru/nagrada).]
            .news-article-content-text Участники, вышедшие в&nbsp;финал, получат официальное приглашение организаторов премии с&nbsp;деталями по&nbsp;проведению церемонии награждения не&nbsp;позднее 7&nbsp;сентября.

      //- .news-article-header-wrapper
      //-   .news-article-slider-item
      //-     .news-article-header
      //-       .news-article-header-date 30 марта 2022 года
      //-       .news-article-header-preview
      //-         .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
      //-         .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.
      //-       .news-article-header-img.js-img-show
      //-         img(src="images/header/pattern.jpg" alt="").img-pattern
      //-         img(src="images/main/news/article/article-1.jpg").img-img

      //-     .news-article-header-mob
      //-       .news-article-header-preview
      //-         .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
      //-         .news-article-header-date 30 марта 2022 года
      //-       .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.

      //-     .news-article-content
      //-       .news-article-content-title Экспертиза на премии  
      //-       .news-article-content-text Премия &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo; проводится на&nbsp;территории России и&nbsp;стран СНГ и&nbsp;уже успела зарекомендовать себя, как одно из&nbsp;самых значимых профессиональных событий в&nbsp;горно-металлургическом и&nbsp;добывающем секторе.
      //-       .news-article-content-text Цель премии&nbsp;&mdash; отметить достижения женщин-профессионалов, которые привнесли значительный вклад в&nbsp;развитие добывающей отрасли, являются примером для коллег, ведут активную социальную и&nbsp;благотворительную деятельность.
      //-       .news-article-content-text Члены жюри премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;&nbsp;&mdash; ведущие представители и&nbsp;эксперты отрасли:
      //-       ul.news-article-content-li
      //-         li Белова Анна, заместитель Председателя Совета директоров, Независимый директор, Председатель Комитета по&nbsp;связям с&nbsp;инвесторами и&nbsp;дивидендной политике, АФК &laquo;Система&raquo;;
      //-         li Андроновская Юлия, вице-президент по&nbsp;персоналу и&nbsp;организационному развитию, УК&nbsp;&laquo;Полюс&raquo;;
      //-         li Рустамова Зумруд, заместитель генерального директора, &laquo;Полиметалл&raquo;;
      //-         li Дертинов Роман, заместитель генерального директора по&nbsp;ОТ и&nbsp;ПБ, ГК&nbsp;&laquo;Петропавловск&raquo;;
      //-         li Калиничев Олег, управляющий директор Paul Ekman International в&nbsp;России;
      //-         li Лапкина Светлана, директор по&nbsp;операционным закупкам, ПАО &laquo;НЛМК&raquo;;
      //-         li Тимковская Лидия, основатель компании WOW Humans! Организационный консультант и&nbsp;тренер по&nbsp;Empowerment &amp;&nbsp;Diversity, карьерный эксперт и&nbsp;консультант с&nbsp;международным опытом;
      //-         li Чекалова Светлана, эксперт в&nbsp;области управления персоналом.
      //-       .news-article-content-text Заявки на&nbsp;участие в&nbsp;премии принимаются с&nbsp;9&nbsp;марта до&nbsp;17&nbsp;июня 2022&nbsp;года. Подробная информация доступна на&nbsp;сайте некоммерческой организации Women in&nbsp;Mining Russia&nbsp;&mdash; www.womeninmining.ru  #[a(href="https://womeninmining.ru/nagrada") (https://womeninmining.ru/nagrada).]
      //-       .news-article-content-text Участники, вышедшие в&nbsp;финал, получат официальное приглашение организаторов премии с&nbsp;деталями по&nbsp;проведению церемонии награждения не&nbsp;позднее 7&nbsp;сентября.

      //- .news-article-header-wrapper
      //-   .news-article-slider-item
      //-     .news-article-header
      //-       .news-article-header-date 30 марта 2022 года
      //-       .news-article-header-preview
      //-         .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
      //-         .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.
      //-       .news-article-header-img.js-img-show
      //-         img(src="images/header/pattern.jpg" alt="").img-pattern
      //-         img(src="images/main/news/article/article-1.jpg").img-img

      //-     .news-article-header-mob
      //-       .news-article-header-preview
      //-         .news-article-header-preview-title Открыт прием заявок на&nbsp;участие в&nbsp;премии &quot;Талантливая женщина в&nbsp;добывающей отрасли 2022
      //-         .news-article-header-date 30 марта 2022 года
      //-       .news-article-header-preview-text Некоммерческая организация Women in&nbsp;Mining Russia объявила о&nbsp;начале приема заявок на&nbsp;участие в&nbsp;премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;. Конкурсный этап продлится с&nbsp;9&nbsp;марта по&nbsp;1&nbsp;августа, церемония награждения победителей и&nbsp;призеров состоится в&nbsp;Москве 7&nbsp;октября 2022&nbsp;года.

      //-     .news-article-content
      //-       .news-article-content-title Экспертиза на премии  
      //-       .news-article-content-text Премия &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo; проводится на&nbsp;территории России и&nbsp;стран СНГ и&nbsp;уже успела зарекомендовать себя, как одно из&nbsp;самых значимых профессиональных событий в&nbsp;горно-металлургическом и&nbsp;добывающем секторе.
      //-       .news-article-content-text Цель премии&nbsp;&mdash; отметить достижения женщин-профессионалов, которые привнесли значительный вклад в&nbsp;развитие добывающей отрасли, являются примером для коллег, ведут активную социальную и&nbsp;благотворительную деятельность.
      //-       .news-article-content-text Члены жюри премии &laquo;Талантливая женщина в&nbsp;добывающей отрасли 2022&raquo;&nbsp;&mdash; ведущие представители и&nbsp;эксперты отрасли:
      //-       ul.news-article-content-li
      //-         li Белова Анна, заместитель Председателя Совета директоров, Независимый директор, Председатель Комитета по&nbsp;связям с&nbsp;инвесторами и&nbsp;дивидендной политике, АФК &laquo;Система&raquo;;
      //-         li Андроновская Юлия, вице-президент по&nbsp;персоналу и&nbsp;организационному развитию, УК&nbsp;&laquo;Полюс&raquo;;
      //-         li Рустамова Зумруд, заместитель генерального директора, &laquo;Полиметалл&raquo;;
      //-         li Дертинов Роман, заместитель генерального директора по&nbsp;ОТ и&nbsp;ПБ, ГК&nbsp;&laquo;Петропавловск&raquo;;
      //-         li Калиничев Олег, управляющий директор Paul Ekman International в&nbsp;России;
      //-         li Лапкина Светлана, директор по&nbsp;операционным закупкам, ПАО &laquo;НЛМК&raquo;;
      //-         li Тимковская Лидия, основатель компании WOW Humans! Организационный консультант и&nbsp;тренер по&nbsp;Empowerment &amp;&nbsp;Diversity, карьерный эксперт и&nbsp;консультант с&nbsp;международным опытом;
      //-         li Чекалова Светлана, эксперт в&nbsp;области управления персоналом.
      //-       .news-article-content-text Заявки на&nbsp;участие в&nbsp;премии принимаются с&nbsp;9&nbsp;марта до&nbsp;17&nbsp;июня 2022&nbsp;года. Подробная информация доступна на&nbsp;сайте некоммерческой организации Women in&nbsp;Mining Russia&nbsp;&mdash; www.womeninmining.ru  #[a(href="https://womeninmining.ru/nagrada") (https://womeninmining.ru/nagrada).]
      //-       .news-article-content-text Участники, вышедшие в&nbsp;финал, получат официальное приглашение организаторов премии с&nbsp;деталями по&nbsp;проведению церемонии награждения не&nbsp;позднее 7&nbsp;сентября.

  .news-article-header-wrapper
    .news-article-btn-wrapper
      .news-article-btn
        a(href="news-article.html").news-article-btn-prev &larr;&nbsp;&nbsp;Предыдущая новость
        a(href="news-article.html").news-article-btn-next Следующая новость&nbsp;&nbsp;&rarr;