notfound.home 
  .notfound
    .notfound-header
      img(src="images/notFound/title.jpg" alt="").notfound-header-img
      img(src="images/notFound/title-mob.jpg" alt="").notfound-header-img-mob
      .notfound-header-text 4✺4
    .notfound-contant
      .notfound-contant-text Кажется, что страница, которую вы запрашиваете, не существует
      a(href="index.html").notfound-contant-btn.btn-silver-hover Вернуться на главную