otzyv.otzyv
  .home
    .home-nav.home-wrapper
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/company.html").home-nav-prev Компания
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/otzyv.html").home-nav-actual Отзывы
  .vacancy
    .vacancy-article-header-wrapper
      .vacancy-article-header
        .vacancy-article-header-left
          .vacancy-article-header-left-title Отзывы
        .vacancy-article-header-right
          .vacancy-article-header-right-text Мы&nbsp;доказываем компетентность в&nbsp;реальных проектах от&nbsp;крупных игроков рынка нефте- и&nbsp;газодобычи
  .otzyv-content
    .otzyv-content-flex#otzyv-content-flex
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью
      .home-otzyv-content-item
        .home-otzyv-content-item-title ООО "Абрис"
        .home-otzyv-content-item-desc
          .home-otzyv-content-item-desc-sity г. Хабаровск
          .home-otzyv-content-item-desc-line -
          .home-otzyv-content-item-desc-time 24.02.2014
        .home-otzyv-content-item-stars.js-otzyv-stars
        .home-otzyv-content-item-text.js-otzyv-text Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение форм развития. Разнообразный и богатый опыт но...
        a(href="#").home-otzyv-content-item-text-more Читать полностью

  .otzyv-more-btn
    .otzyv-more-btn-item Загрузить ещё
    .otzyv-more-btn-item +

  .home-proposal.home-wrapper
    .home-proposal-title Специальные предложения
    .slider-wrapper
      .slider 
        .home-proposal-item
          .home-proposal-item-content
            a(href="#").home-proposal-item-title Маркшейдерский замер объёма
            .home-proposal-item-sum От 25 000 руб.

        .home-proposal-item
          .home-proposal-item-content
            a(href="#").home-proposal-item-title Составление проекта на&nbsp;геологическое изучение и&nbsp;разведку месторождений общераспространённых полезных ископаемых
            .home-proposal-item-sum От 180 000 руб.

        .home-proposal-item
          .home-proposal-item-content
            a(href="#").home-proposal-item-title Составление технического проекта разработки месторождений общераспространенных полезных ископаемых
            .home-proposal-item-sum От 450 000 руб.

        .home-proposal-item
          .home-proposal-item-content
            a(href="#").home-proposal-item-title Составление квартальной отчётности по форме: 2-гр и 7-гр
            .home-proposal-item-sum От 15 000 руб.
  .vacancy
    .home-feedback
      .home-feedback-flex 
        .home-feedback-flex-left
          .home-feedback-flex-left-desc Не&nbsp;нашли подходящую вакансию?
          .home-feedback-flex-left-title Отправьте нам свое резюме и&nbsp;мы&nbsp;свяжемся с&nbsp;вами
          form.home-feedback-flex-left-form
            input(placeholder="Имя*" name="name").home-feedback-flex-left-form-name
            input(placeholder="Телефон*" name="tel").home-feedback-flex-left-form-tel
            input(placeholder="E-mail*" name="email").home-feedback-flex-left-form-mail
            .home-feedback-flex-left-form-rules
              input(type="checkbox" value="0").home-feedback-flex-left-form-rules-checkbox#form-checkbox
              .home-feedback-flex-left-form-rules-text Согласен на обработку 
                a(href="#") персональных данных
            #login-form-submit.home-feedback-flex-left-form-btn Отправить заявку&nbsp;&nbsp;&rarr;
            input(type="submit" value="post" formmethod="post").home-feedback-flex-left-form-btn-post#login-form-submit-post
        .home-feedback-flex-right
          img(src="images/services/services-from.png").home-feedback-flex-right-img