project.project
  .home
    .home-nav.home-wrapper
      .home-nav-prev.home-nav-prev-mob ...
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/company.html").home-nav-prev Компания
      img(src="images/services/header-arrow.svg").home-nav-arrow.home-nav-arrow-mob  
      a(href="/team.html").home-nav-actual Команда
  .vacancy
    .vacancy-article-header-wrapper
      .vacancy-article-header
        .vacancy-article-header-left
          .vacancy-article-header-left-title Наши проекты
        .vacancy-article-header-right
          .vacancy-article-header-right-text C&nbsp;2011 года мы&nbsp;реализовали более 250&nbsp;проектов. Большинство наших объектов расположены в&nbsp;Хабаровском крае

  .project-list-wrapper 
    .project-list
      .project-list-item
        .project-list-item-title ООО &quot;Амурзолото&quot;
        .project-list-item-text Составление технического проекта разработки месторождения россыпного золота
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2020 год

      .project-list-item
        .project-list-item-title ООО &quot;Золото Амура&quot;
        .project-list-item-text Составление Составление проекта на&nbsp;геологическое изучение и&nbsp;разведку месторождения россыпного золота
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2020 год

      .project-list-item
        .project-list-item-title ООО &quot;Ванинский морской торговый порт&quot;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title АО&nbsp;&quot;Амурское пароходство&quot;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2018 год

      .project-list-item
        .project-list-item-title ООО &quot;Керамзит-Дальний Восток&quot;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2017 год

      .project-list-item
        .project-list-item-title ООО &quot;Силинский гравийный карьер&quot;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title ООО &quot;ГГП &quot;Марикан&quot;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2016 год

      .project-list-item
        .project-list-item-title ООО &quot;Эйрена-Деко&quot;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2016 год

      .project-list-item
        .project-list-item-title ООО &quot;ВекторПлюс&quot;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title ООО &quot;Строй-инженеринг&quot;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

  .home-company
    .home-wrapper
        .home-company-slide
          .home-company-item.home-slider-item
            .home-company-item-contant 
              .home-company-item-contant-title Развиваем месторождения 
                br
                span уже более 10&nbsp;лет
                .home-company-item-contant-text Осуществляем проекты на&nbsp;крупнейших месторождениях по&nbsp;всей России и&nbsp;в&nbsp;странах СНГ.
              .home-company-item-contant-btn
                a(href="company.html").home-company-item-contant-btn-orange Узнать о компании&nbsp;&nbsp;&rarr;
            .home-company-item-preview-box.slider
              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год
              
              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

              .home-company-item-preview-item    
                .home-company-item-preview-title 4 500 000 000 ₽
                .home-company-item-preview-text Стоимость ресусрсов, найденных для клиентов компании &laquo;Маркгеопроект&raquo; за&nbsp;2022 год

        img(src="images/main/slider/slider-btn-right-opacity.png" alt="").home-slider-btn-prev.home-slider-btn-arrow
        img(src="images/main/slider/slider-btn-left-opacity.png" alt="").home-slider-btn-next.home-slider-btn-arrow
  
  .project-list-wrapper 
    .project-list
      .project-list-item
        .project-list-item-title ООО &laquo;Амурзолото&raquo;
        .project-list-item-text Составление технического проекта разработки месторождения россыпного золота
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2020 год

      .project-list-item
        .project-list-item-title ООО &laquo;Золото Амура&raquo;
        .project-list-item-text Составление Составление проекта на&nbsp;геологическое изучение и&nbsp;разведку месторождения россыпного золота
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2020 год

      .project-list-item
        .project-list-item-title ООО &laquo;Ванинский морской торговый порт&raquo;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title АО&nbsp;&laquo;Амурское пароходство&raquo;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2018 год

      .project-list-item
        .project-list-item-title ООО &laquo;Керамзит-Дальний Восток&raquo;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2017 год

      .project-list-item
        .project-list-item-title ООО &laquo;Силинский гравийный карьер&raquo;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title ООО &laquo;ГГП &laquo;Марикан&raquo;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2016 год

      .project-list-item
        .project-list-item-title ООО &laquo;Эйрена-Деко&raquo;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2016 год

      .project-list-item
        .project-list-item-title ООО &laquo;ВекторПлюс&raquo;
        .project-list-item-text Выполнение маркшейдерской съёмки горных выработок
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год

      .project-list-item
        .project-list-item-title ООО &quot;Строй-инженеринг&raquo;
        .project-list-item-text Маркшейдерское обслуживание. Геологоразведочные работы. Составление проектно-технической докуентации для разработки месторождений. Геологическое сопровождение
        .project-list-item-place г. Хабаровск
        .project-list-item-date 2019 год


  .home-geography.home-wrapper
    .home-geography-box 
      .home-geography-box-header  
        .home-geography-box-header-title География объектов
        .home-geography-box-header-desc Ознакомьтесь с&nbsp;картой наших объектов, обнаруженных на&nbsp;территории Российской Федерации для наших главных клиентов
      .home-geography-box-map
        img(src="images/main/geography/map-rus.svg" alt="").home-geography-box-map-img
        .home-geography-box-map-group.home-geography-box-map-group-1.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

        .home-geography-box-map-group.home-geography-box-map-group-2.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

        .home-geography-box-map-group.home-geography-box-map-group-3.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

        .home-geography-box-map-group.home-geography-box-map-group-4.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)
        
        .home-geography-box-map-group.home-geography-box-map-group-5.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

        .home-geography-box-map-group.home-geography-box-map-group-6.js-map-active
          .home-geography-box-map-point.home-geography-box-map-group-point
          .home-geography-box-map-point-info.home-geography-box-map-group-info
            .home-geography-box-map-point-info-wrapper
              .home-geography-box-map-point-info-sity Кривой Рог
              .home-geography-box-map-point-info-desc Иркутская область, Восточная Сибирь, Россия 
              .home-geography-box-map-point-info-sum 5 500 000
              .home-geography-box-map-point-info-resource Оцененные и выявленные ресурсы (тонн руды)

  .vacancy
    .home-feedback
      .home-feedback-flex 
        .home-feedback-flex-left
          .home-feedback-flex-left-desc Свяжитесь с&nbsp;нами
          .home-feedback-flex-left-title Мы&nbsp;перезвоним вам в&nbsp;течение одного дня
          form.home-feedback-flex-left-form
            input(placeholder="Имя*" name="name").home-feedback-flex-left-form-name
            input(placeholder="Телефон*" name="tel").home-feedback-flex-left-form-tel
            input(placeholder="E-mail*" name="email").home-feedback-flex-left-form-mail
            .home-feedback-flex-left-form-rules
              input(type="checkbox" value="0").home-feedback-flex-left-form-rules-checkbox#form-checkbox
              .home-feedback-flex-left-form-rules-text Согласен на обработку 
                a(href="#") персональных данных
            #login-form-submit.home-feedback-flex-left-form-btn.btn-orange-hover Отправить заявку&nbsp;&nbsp;&rarr;
            input(type="submit" value="post" formmethod="post").home-feedback-flex-left-form-btn-post#login-form-submit-post
        .home-feedback-flex-right
          .home-feedback-flex-right-img.js-img-show
            .img-pattern
            img(src="images/services/services-from.png").img-img