team.team
  .home
    .home-nav.home-wrapper
      .home-nav-prev.home-nav-prev-mob ...
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/company.html").home-nav-prev Компания
      img(src="images/services/header-arrow.svg").home-nav-arrow.home-nav-arrow-mob 
      a(href="/team.html").home-nav-actual Команда
  .team
    .team-header
      .team-header-title Команда
    .team-team-wrapper
      .team-team
        #team-team.team-team-flex
          .team-team-item
            .team-team-item-text
              .team-team-item-text-top
                .team-team-item-text-name Фисов Михаил Михайлович
                .team-team-item-text-vacancy Директор
              .team-team-item-text-bot
                .team-team-item-text-exp Стаж: 38 лет
            img(src="images/team/team-1.jpg").team-team-item-img
            img(src="images/team/team-1.jpg").team-team-item-img-mob

          .team-team-item
            .team-team-item-text
              .team-team-item-text-top
                .team-team-item-text-name Фисов Михаил Михайлович
                .team-team-item-text-vacancy Главный маркшейдер
              .team-team-item-text-bot
                .team-team-item-text-exp Стаж: 12 лет
            img(src="images/team/team-2.jpg").team-team-item-img
            img(src="images/team/team-1.jpg").team-team-item-img-mob
            
          .team-team-item
            .team-team-item-text
              .team-team-item-text-top
                .team-team-item-text-name Фисов Михаил Михайлович
                .team-team-item-text-vacancy Главный инженер
              .team-team-item-text-bot
                .team-team-item-text-exp Стаж: 15 лет
            img(src="images/team/team-1.jpg").team-team-item-img
            img(src="images/team/team-1.jpg").team-team-item-img-mob
            
          .team-team-item
            .team-team-item-text
              .team-team-item-text-top
                .team-team-item-text-name Фисов Михаил Михайлович
                .team-team-item-text-vacancy Главный геолог
              .team-team-item-text-bot
                .team-team-item-text-exp Стаж: 15 лет
            img(src="images/team/team-1.jpg").team-team-item-img
            img(src="images/team/team-1.jpg").team-team-item-img-mob
    
    .team-vacancy
      .team-vacancy-flex
        .team-vacancy-text
          .team-vacancy-text-tilte Мы всегда находимся в поиске молодых и талантливых специалистов
          .team-vacancy-text-text Наша разнообразная команда состоит из лучших и самых ярких представителей мира геологии, технологий и бизнеса.
          .team-vacancy-text-text Мы стремимся разрабатывать, создавать и эксплуатировать технологии, которые упрощают наше взаимодействие с энергией. Маркгеопроект - это то, что равзивает нас в это сложное время.
          a(href="vacancy.html").team-vacancy-text-btn К вакансиям
        .team-vacancy-img.js-img-show
          .img-pattern.img-pattern-team
          img(src="images/team/team-vacancy.jpg").img-img
          img(src="images/team/team-vacancy768.jpg").img-img.img-img-mob

  .team-footer-place

