vacancy.vacancy
  .home
    .home-nav.home-wrapper
      a(href="/index.html").home-nav-prev Главная
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/vacancy.html").home-nav-prev Вакансии
      img(src="images/services/header-arrow.svg").home-nav-arrow 
      a(href="/vacancy-article.html").home-nav-actual Инженер-программист
  .vacancy
    .vacancy-article-header-wrapper
      .vacancy-article-header
        .vacancy-article-header-left
          .vacancy-article-header-left-title Ведущий инженер по георазработке месторождений
        .vacancy-article-header-right
          .vacancy-article-header-right-text Краткое описание открытой вакансии, желательно не больше чем в две строки (около 100 символов)
          a(href="contacts.html").vacancy-article-header-right-btn Откликнуться&nbsp;&nbsp;&rarr;

    .vacancy-article-exp
      .vacancy-article-exp-title Основные компетенции
      #vacancy-article-exp-1.vacancy-article-exp-flex
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Глубокие знания и&nbsp;опыт применения ГОСТ в&nbsp;области горного дела

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Высокий уровень понимания общих концепций и&nbsp;частных принципов горного дела. Умение понятно доносить идеи до&nbsp;коллег и&nbsp;заказчиков

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Навык работы с&nbsp;MS&nbsp;Office Suite, AutoCAD, VentSim, Vulcan, Deswik/GEOVIA Surpac
            
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Уверенный пользователь основных пакетов MS&nbsp;Office, умение работать с&nbsp;табличными данными

    .vacancy-article-exp
      .vacancy-article-exp-title Образование и опыт
      #vacancy-article-exp-1.vacancy-article-exp-flex
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Высшее образование в&nbsp;области горного дела

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Опыт в&nbsp;подземных горных работах 5-8 лет

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Опыт проектирования и&nbsp;эксплуатации на&nbsp;действующем объекте считается преимуществом
            
    .vacancy-article-exp
      .vacancy-article-exp-title Чем предстоит заниматься
      #vacancy-article-exp-1.vacancy-article-exp-flex
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Работа с&nbsp;заказчиками в&nbsp;области предоставления качественных и&nbsp;безопасных решений. Встречи и&nbsp;взаимодействуйте с&nbsp;внешними консультантами, подрядчиками, субподрядчиками и/или поставщиками

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Подготовка планов и&nbsp;графиков разработки и&nbsp;добычи полезных ископаемых

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Работа с&nbsp;блочными моделями ресурсов для проектирования доступа к&nbsp;рудникам, методов добычи, разработки рудников и&nbsp;инфраструктуры рудников.
            
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Оценка производительности и&nbsp;капитальных затрат
        
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Рецензирование технических обзоров
        
        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Контроль качества по&nbsp;собственным проектам и&nbsp;проектам

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Поддержка разработки стандартов и&nbsp;спецификаций для горнодобывающей группы

        .vacancy-article-exp-flex-item
          .vacancy-article-exp-flex-item-line
          .vacancy-article-exp-flex-item-text Подготовка технические отчетов

    .vacancy-article-proposal
      .vacancy-article-proposal-text
        .vacancy-article-proposal-text-title Что мы предлагаем
        .vacancy-article-proposal-text-desc Работа в&nbsp;старейшей и&nbsp;надежнейшей компании Дальнего Востока в&nbsp;области проектирования и&nbsp;геолого-маркшейдерского обеспечения месторождений.
          |
          br
          br
          | Каждый член нашей небольшой команды имеет колосальный опыт в&nbsp;своей сфере, даже самый опытный профессионал получит дополнительные стимулы и&nbsp;возможности для развития своих навыков. Все сотрудники компании получает доступ расширенному страхованию по&nbsp;истечение испытательного срока. 
          |
          br
          br
          | Мы&nbsp;гордимся, уважаем и&nbsp;дорожим каждым совим сотрудником, стараемся держать оплату труда выше среднерыночной по&nbsp;региону. Возможен релакейт и&nbsp;помощь с&nbsp;поиском жилья в&nbsp;Хабаровске. Работа бок о&nbsp;бок с&nbsp;командой в&nbsp;современном офисе в&nbsp;историческом центре города, но&nbsp;если вам будет нужно покрапеть над проектом перед домашним монитором, мы&nbsp;всегда пойдем навстречу.
      img(src="images/vacancy/proposal.jpg").vacancy-article-proposal-img

    .vacancy-advantages
      .vacancy-advantages-title Преимущества работы в&nbsp;нашей компании
      .vacancy-advantages-box
        .vacancy-advantages-box-left 
          .vacancy-advantages-box-left-top
          .vacancy-advantages-box-left-bot
            .vacancy-advantages-box-left-bot-title Мнение каждого сотрудника имеет значение
            .vacancy-advantages-box-left-bot-text Работа в&nbsp;небольшом коллективе дает возможность каждому сотрднику лично участвовать в&nbsp;развитии компании и&nbsp;принимать ключевые решения
        
        .vacancy-advantages-box-right
          .vacancy-advantages-box-right-item
            .vacancy-advantages-box-right-item-top
            .vacancy-advantages-box-right-item-bot
              .vacancy-advantages-box-right-item-bot-title Нам есть чему научить новых специалистов
              .vacancy-advantages-box-right-item-bot-text Наличие колосального опыта позволяет нашим действующим сотрудникам эффективно передавать знания и&nbsp;навыки. Мы&nbsp;верим, что совместные усилия всех сотрудников позволят компании достигать больших целей и&nbsp;решать самые сложные задачи.

          .vacancy-advantages-box-right-item
            .vacancy-advantages-box-right-item-top
            .vacancy-advantages-box-right-item-bot
              .vacancy-advantages-box-right-item-bot-title Мы&nbsp;пользуемся доверием у&nbsp;лидеров рынка
              .vacancy-advantages-box-right-item-bot-text Опыт и&nbsp;имя на&nbsp;рынке позволяет нашей компании единовременно разрабатывать до&nbsp;3-ех крупных проектов, работа над которыми будет приносить профессиональное удовлетворение и&nbsp;гордость за&nbsp;собственный труд

          .vacancy-advantages-box-right-item
            .vacancy-advantages-box-right-item-top
            .vacancy-advantages-box-right-item-bot
              .vacancy-advantages-box-right-item-bot-title Мы&nbsp;ставим людей на&nbsp;первое место
              .vacancy-advantages-box-right-item-bot-text Мы&nbsp;считаем наших сотрудников и&nbsp;их&nbsp;личные качества нашим самым большим достоянием, поэтому вкладываем в&nbsp;их&nbsp;обучение значительные средства и&nbsp;обеспечиваем профессиональный рост. Благодаря этому многие члены нашей комнды работют с&nbsp;нами уже более 10&nbsp;лет.

  .home-feedback#resume
    .home-feedback-flex 
      .home-feedback-flex-left
        .home-feedback-flex-left-desc Не&nbsp;нашли подходящую вакансию?
        .home-feedback-flex-left-title Отправьте нам свое резюме и&nbsp;мы&nbsp;свяжемся с&nbsp;вами
        form.home-feedback-flex-left-form
          input(placeholder="Ваше имя*" name="name").home-feedback-flex-left-form-name
          label.home-feedback-flex-left-form-lable 
            .home-feedback-flex-left-form-lable-text Резюме*
            input(placeholder="Резюме*" type="file" id="file" name="file" multiple).home-feedback-flex-left-form-docs
            img(src="images/vacancy/form-file.svg" alt="").home-feedback-flex-left-form-lable-img
          input(placeholder="Телефон*" name="tel").home-feedback-flex-left-form-tel
          input(placeholder="E-mail*" name="email").home-feedback-flex-left-form-mail
          input(placeholder="Ваше сообщение" name="messange").home-feedback-flex-left-form-mail
          .home-feedback-flex-left-form-rules
            input(type="checkbox" value="0").home-feedback-flex-left-form-rules-checkbox#form-checkbox
            .home-feedback-flex-left-form-rules-text Согласен на обработку 
              a(href="#") персональных данных
          #login-form-submit.home-feedback-flex-left-form-btn Отправить заявку&nbsp;&nbsp;&rarr;
          input(type="submit" value="post" formmethod="post").home-feedback-flex-left-form-btn-post#login-form-submit-post
      .home-feedback-flex-right
        img(src="images/vacancy/form.jpg").home-feedback-flex-right-img


