extends pug/base

prepend vars
	//-

append vars
	//-

block content
	//- include pug/data

	.site
		include pug/components/header

		include pug/pages/vacancy-article

		include pug/components/footer
	
		include pug/components/popup
	//- include pug/components/analytics
